@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@layer utilities {
  .btn-press {
    @apply active:scale-95 transition-transform duration-100;
  }
  
  .card-hover {
    @apply hover:-translate-y-1 transition-transform duration-300 ease-out;
  }
}